body {
    margin: 0;
    background-color: green;
}
.gameBoard {
    width: 100%;;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.middleCardImg  {
    width: 25vw;
}
.playerPointsContainer {
    display: flex;
    justify-content: center;
}
.playerCardsContainer {
    display: flex;
    flex-direction: row;
}
.playerCard {
    width: 25vw;
}